
body {
	width: 100%;
	height: 100%;
	background-image: url("greypattern.png");
	background-repeat: repeat;
	
}

header {
	height: 100px;
	width: 100%;
	font-family: 'Georgia', Times, serif;
	font-size: 12px;
	text-align: center;
	letter-spacing: 2px;
	border-bottom: solid 2px #666666;
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

h1 {
	font-weight: lighter;
	font-size: 25px;
}

#myname {
	height: 65px;
	width: 240px;
	background-color: #3FAAA5;
	color: white;
	padding-top: 35px; 
	margin-bottom: 0px;
	position: relative;
	top: 0px;
	left: 60px;
}

nav {
	float: right;
	padding-right: 80px;
	color: #cccccc;
	position: relative;
	right: 20px;
	top: -30px;
}

a {
	text-decoration: none;
	color: #cccccc;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#aboutme {
	width: 630px;
	height: 100%;
	background-color: white;
	float: left;
	margin: 130px 20px 20px 55px;
	border: solid 2px #808080;
	padding-bottom: 20px;


}

.blue {
	color: #3FAAA5;
	padding: 5px 30px;
}

#paragraph {
	height: 100%;
	width: 570px;
	padding: 5px 0px;
	margin-left: 30px;
	padding-top: 10px;
	text-align: wrap;
	float: left;
	border-top: solid 2px grey;

}

p {
	line-height: 20px;
	color: grey;
	font-size: 16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#paragraphport {
	height: 100%;
	width: 548px;
	padding: 5px 0px;
	margin-left: 30px;
	margin-top: 0px;
	float: left;
	line-height: 15px;
	border-top: solid 5px grey;
	letter-spacing: 2px;
	font-size: 12px;

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

#placeHolderImg {
	height: 180px;
	float: left;
	border-right: solid 10px white;
	border-left: solid 10px white;
	border-bottom: solid 5px white;
	margin-left: -10px;
	margin-right: 5px;

}

.contactme {
	width: 270px;
	height: 200px;
	border: solid 2px grey;
	float: left;
	background-color: white;
	position: absolute;
	left: 720px;
	top: 130px;
}
 #pagecontent {
 	float: left;
 	height: 100%;
 	width: 950px;
 	margin-bottom: 150px;
 	padding-right: -10px;
	
 }

#small {
	font-size: 20px;
	margin-top: 25px;
	margin-left: 18px;
}

.smimg {
	height: 70px;
	margin: 3px;
}

#contactimg{
	margin-left: 20px;
	padding-top: 15px;
	
}

#bottom {
	border-bottom: solid 2px grey;
	margin: 10px;
}

#footer {
	clear: both;
	color: #E9E9E9;
	background-color: #666666;
	border-top: solid 10px #3FAAA5;
	height: 60px;
	width: 100%;
	letter-spacing: 1px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;

	position: fixed;
   	left:0px;
   	bottom:0px;
}

.long {
	width: 100%;
	height: 20px;
	font-size: 14px;
	font-weight: lighter;
	margin-top: 2px;
}

form {
	color: grey;
	font-size: 18px;
	margin-top: 5px;
	font-weight: lighter;
}

.longwide {
	width: 100%;
	height: 200px;
	margin-top: 2px;
}

#submit {
	color: white;
	background-color: #3FAAA5;
	height: 50px;
	width: 120px;
	border: none;
	font-size: 20px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.portimg {
	height: 190px;
	float: left;
	margin: 20PX 10px;
}

.leftmargin {
	margin-left: 35px;
	height: 200px;
	float: left;
	margin-top: 26px;
}


@media screen and (max-width: 980px) {

body { 
}

#aboutme {
	width: 400px;
	height: 100%;

}	

#placeHolderImg{
	height: 100px;
}

#paragraph {
	width: 350px;
}

.contactme {
	width: 270px;
	height: 200px;
	border: solid 2px grey;
	float: left;
	background-color: white;
	position: absolute;
	left: 520px;
	top: 130px;
}

#paragraphport {
	height: 100%;
	width: 350px;
	padding: 5px 0px;
	margin-left: 30px;
	margin-top: 0px;
	float: left;
	line-height: 15px;
	border-top: solid 5px grey;
	letter-spacing: 2px;
	font-size: 12px;

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

	.portimg {
	height: 190px;
	float: left;
	margin: 20px 20px 20px 50px;
}

}


@media screen and (max-width: 768px){ 

body { 


}

#aboutme {
	width: 600px;
	height: 100%;
	margin: 20px;
	float: left;
	margin-top: 130px;


}	

#placeHolderImg{
	height: 100px;
}

#paragraph {
	width: 550px;
}

.contactme {
	width: 600px;
	height: 200px;
	border: solid 2px grey;
	float: left;
	background-color: white;
	position: relative;
	top: 10px;
	left: 20px;
	margin-bottom: 100px;
}

#paragraphport {
	height: 100%;
	width: 550px;
	padding: 5px 0px;
	margin-left: 30px;
	margin-top: 0px;
	float: left;
	border-top: solid 5px grey;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

	.portimg {
	height: 180px;
	float: left;
	margin: 15px;
	}

#myname {
	height: 65px;
	width: 240px;
	background-color: #3FAAA5;
	color: white;
	padding-top: 35px; 
	margin-bottom: 0px;
	position: relative;
	top: 0px;
	left: 20px;
}

}


@media screen and (max-width: 640px) {

body { 
	background-color: #F1A699; 
	background-image: none;

}

#aboutme {
	width: 100%;
	height: 100%;
	margin: 0px;
	float: left;
	margin-top: 130px;


}	

#placeHolderImg{
	height: 100%;
	padding: 1px;
	margin: 1px;
}

#paragraph {
	width: 550px;
}

.contactme {
	width: 100%;
	height: 100%;
	border: solid 2px grey;
	float: left;
	background-color: white;
	position: relative;
	top: 10px;
	left: 20px;
	margin-bottom: 100px;
}

#paragraphport {
	height: 100%;
	width: 550px;
	padding: 5px 0px;
	margin-left: 30px;
	margin-top: 0px;
	float: left;
	border-top: solid 5px grey;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

	.portimg {
	height: 180px;
	float: left;
	margin: 15px;
	}

#myname {
	height: 50px;
	font-size: 10px;
	width: 100%;
	background-color: #3FAAA5;
	color: white;
	padding-top: 10px; 
	margin-bottom: 10px;
	margin-left: -20px;

	}


nav {
	float: middle;
	padding-top: 30px;
	text-align: center; 
	color: #cccccc;
	margin-left: -70px;

	}
	p{
		padding: 10px;
		text-align: center;
	}
}


